/Resultados_RALA-ChangeFormer/Datasets/LEVIR-CD-PLUS-BENCH/train
/Resultados_RALA-ChangeFormer/Datasets/LEVIR-CD-PLUS-BENCH/val
/Resultados_RALA-ChangeFormer/Datasets/LEVIR-CD-PLUS-BENCH/test


/Resultados_RALA-ChangeFormer/Datasets/SYSU-CD-BENCH/train
/Resultados_RALA-ChangeFormer/Datasets/SYSU-CD-PLUS-BENCH/val
/Resultados_RALA-ChangeFormer/Datasets/SYSU-CD-PLUS-BENCH/test

/Resultados_RALA-ChangeFormer/Datasets/WHU-CD-BENCH/train
/Resultados_RALA-ChangeFormer/Datasets/WHU-CD-BENCH/val
/Resultados_RALA-ChangeFormer/Datasets/WHU-CD-BENCH/test

/Resultados_RALA-ChangeFormer/Datasets/S2LOOKING-CD-BENCH/train
/Resultados_RALA-ChangeFormer/Datasets/S2LOOKING-CD-BENCH/val
/Resultados_RALA-ChangeFormer/Datasets/S2LOOKING-CD-BENCH/test

/Resultados_RALA-ChangeFormer/LEVIR+/V7_LP/best_ckpt.pt
/Resultados_RALA-ChangeFormer/LEVIR+/V7_LP/last_ckpt.pt

/Resultados_RALA-ChangeFormer/S2Looking/V7_S2Looking/best_ckpt.pt
/Resultados_RALA-ChangeFormer/S2Looking/V7_S2Looking/last_ckpt.pt

/Resultados_RALA-ChangeFormer/SYSU/V7_SY/best_ckpt.pt
/Resultados_RALA-ChangeFormer/SYSU/V7_SY/last_ckpt.pt

/Resultados_RALA-ChangeFormer/WHU/V7_WHU/best_ckpt.pt
/Resultados_RALA-ChangeFormer/WHU/V7_WHU/last_ckpt.pt

/Resultados_RALA-ChangeFormer/predictions/V7_LP_test/*.png
/Resultados_RALA-ChangeFormer/predictions/V7_S2Looking_test/*.png
/Resultados_RALA-ChangeFormer/predictions/V7_SY_test/*.png
/Resultados_RALA-ChangeFormer/predictions/V7_WHU_test/*.png
